@import "../colors.scss";
.footer {
  display: flex;
  justify-content: space-between;
  padding-top: 2rem;
  @media only screen and (max-width: 576px) {
    flex-direction: column;
  }
  .footer-left {
    color: $PRIMARY_COLOR;
    .social-link {
      margin-right: 16px;
    }
  }
}
